[submodule "cdnet_bl"]
	path = fw_bl/cdnet
	url = ../cdnet

[submodule "cdnet_bridge"]
	path = fw_bridge/cdnet
	url = ../cdnet

[submodule "fw_bridge/tinyusb"]
	path = fw_bridge/tinyusb
	url = https://github.com/hathach/tinyusb.git
